/* nav related styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:  0 200px;
}
/* COMMON   shared styels */
body{
    font-family: 'Lato', sans-serif;
/* font-family: 'Open Sans', monospace; */
}
.nav_title{
    color: #181818;
font-size: 45px;
font-weight: 800;
}
.text-primary{
    color: #FD6E0A;
font-family: Open Sans;
font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

nav > ul {
     display: flex;
     align-items: center;
}
nav li{
    list-style: none;
    margin-right: 40px;
}
nav a {
    text-decoration: none;
 }
 .btn-primary{
    border-radius: 5px;
    border: 0;
    background: #FD6E0A;
    font-size: 20px;
    color: white;
    font-weight: 700;
    padding: 15px 35px;

}
/* header related styles */
.header{
    background-color: #fff8f3;
    background-image: url(../images/header_bg.png),url(../images/developer.png);
    background-repeat: no-repeat;
    background-position:bottom right, top left;
    height: 800px;

}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.btn-contact:hover{
    background-color:black;
}
.banner .profile-ficture{
    width: 500px;
   

}
.banner-greeting{
    font-size: 40px;
    color: #474747;
    margin-bottom: 0px;
}
.banner-title{
    margin-top: 5px;
    margin-bottom: 20px;

}
.banner-contant{
    max-width: 500px;
}

/* about section */
.about{
    padding: 130px;
    border-radius: 10px;
    background:#fff8f3;
    margin: 130px 0;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;

}
.section-description{
    color: #757575;
    text-align: center;
}
.about-info{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
/* about section end */
/* main section  */
main{
    max-width: 1140px;
    margin: 0 auto;
    border: 1px solid greenyellow;
    
}
main section{
    margin-top: 130px;
}
/* what i do section  */
.what-section-description{
    padding: 30px 150px;
}
/* skill related styles  */
.skill-container{
    display: flex;
    gap: 24px;
    /* background-color: #181818; */
}
.skill{
    padding:30px;
    /* margin: 10px; */
    border-radius: 20px;
    /* box-shadow:  0px 6px 50px 0px rgba(0, 0, 0, 0.06) */
    background-color: rgb(40, 120, 191);
    color: white;
    /* font-family:'Courier New', Courier, monospace; */
}
.skill-description{
    /* padding: 30px; */
}

/* resume section */
.resume-container{
    display: flex;
    gap: 50px;

}
.resume-column-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}
.resume-item-institute, .resume-item-description{
    color: #757575;
    
}
.resume-item-institute{
    margin-bottom: 20px;
    margin-top: 0px;
}
.resume-title{
    color: #757575;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
.resume-container hr{
    margin: 30px;
}

.download-cv{
    text-align: center;
    margin-top: 50px;
}

/* footer section styles  */
footer{
    display: flex;
    background: #FFF8F3;
    padding: 130px;
    margin-top: 100px;
    gap: 100px;
}
.footer-column{
    width: 50%;
    text-align: center;

}
.contact input[type="text"], .contact input[type="email"], textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color:#757575;
    border-radius: 5px;
    background: #FFF;
    border: 0px;
   width: 100%;
}
.social-link a{
    margin-right: 30px;
}



