/* nav related styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:  0 200px;
}
/* COMMON   shared styels */
body{
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', monospace;
}
.nav_title{
    color: #181818;
font-size: 45px;
font-weight: 800;
}
.text-primary{
    color: #FD6E0A;
font-family: Open Sans;
font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

nav > ul {
     display: flex;
     align-items: center;
}
nav li{
    list-style: none;
    margin-right: 40px;
}
nav a {
    text-decoration: none;
 }
 .btn-primary{
    border-radius: 5px;
    border: 0;
    background: #FD6E0A;
    font-size: 20px;
    color: white;
    font-weight: 700;
    padding: 15px 35px;

}
/* header related styles */
.header{
    background-color: #fff8f3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position:bottom right;

}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.btn-contact:hover{
    background-color:black;
}
.banner .profile-ficture{
    width: 500px;

}
.banner-greeting{
    font-size: 40px;
    color: #474747;
    margin-bottom: 0px;
}
.banner-title{
    margin-top: 5px;
    margin-bottom: 20px;

}
.banner-contant{
    max-width: 500px;
}

